<a href="https://colab.research.google.com/github/PedroInvicta/Practicas/blob/main/Practica2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
def combine_two_tables(person: pd.DataFrame, address: pd.DataFrame) -> pd.DataFrame:
 return( pd.merge(person,address,on='personId',how='left')[['firstName', 'lastName', 'city', 'state']]) #Como hacer merge en 2 tablas

In [ ]:
import kagglehub
from kagglehub import KaggleDatasetAdapter
# Download latest version
path = kagglehub.dataset_download("saidaminsaidaxmadov/chocolate-sales")

print("Path to dataset files:", path)

Using Colab cache for faster access to the 'chocolate-sales' dataset.
Path to dataset files: /kaggle/input/chocolate-sales

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
data = pd.read_csv("/kaggle/input/chocolate-sales/Chocolate Sales (2).csv")
data.head(20)

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,04/01/2022,"$5,320.00",180
1,Van Tuxwell,India,85% Dark Bars,01/08/2022,"$7,896.00",94
2,Gigi Bohling,India,Peanut Butter Cubes,07/07/2022,"$4,501.00",91
3,Jan Morforth,Australia,Peanut Butter Cubes,27/04/2022,"$12,726.00",342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,24/02/2022,"$13,685.00",184
5,Van Tuxwell,India,Smooth Sliky Salty,06/06/2022,"$5,376.00",38
6,Oby Sorrel,UK,99% Dark & Pure,25/01/2022,"$13,685.00",176
7,Gunar Cockshoot,Australia,After Nines,24/03/2022,"$3,080.00",73
8,Jehu Rudeforth,New Zealand,50% Dark Bites,20/04/2022,"$3,990.00",59
9,Brien Boise,Australia,99% Dark & Pure,04/07/2022,"$2,835.00",102
10,Rafaelita Blaksland,UK,Smooth Sliky Salty,13/01/2022,"$4,704.00",62
11,Barr Faughny,USA,Orange Choco,10/03/2022,"$3,703.00",11
12,Mallorie Waber,Canada,Eclairs,13/01/2022,"$1,442.00",286
13,Karlen McCaffrey,New Zealand,Drinking Coco,28/07/2022,$168.00,156
14,Marney O'Breen,New Zealand,Peanut Butter Cubes,03/08/2022,"$8,379.00",173
15,Beverie Moffet,Australia,Organic Choco Syrup,26/01/2022,"$6,790.00",356
16,Van Tuxwell,Canada,Organic Choco Syrup,14/02/2022,"$4,067.00",42
17,Roddy Speechley,USA,Smooth Sliky Salty,05/04/2022,"$3,017.00",140
18,Beverie Moffet,Canada,Milk Bars,16/02/2022,"$8,799.00",250
19,Curtice Advani,UK,85% Dark Bars,08/06/2022,"$1,085.00",172

In [ ]:
data.isnull().sum()

Sales Person     0
Country          0
Product          0
Date             0
Amount           0
Boxes Shipped    0
dtype: int64

In [ ]:
#df["XX"] = ["XX"].str.strip(.-_123) para limpiar columnas
#df["XX"] = ["XX"].str.replace("^XX-XX", "")
#df.describe() te da media,mediana, desv estandar
#df.info() te da la informacion de tu csv

In [ ]:
data.sort_values(by= "Country", ascending=True).head()

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
2023,Dotty Strutley,Australia,Choco Coated Almonds,13/04/2023,"$1,863.54",277
494,Jan Morforth,Australia,70% Dark Bites,04/03/2022,"$5,222.00",384
939,Van Tuxwell,Australia,70% Dark Bites,10/01/2022,"$7,063.00",104
2645,Camilla Castle,Australia,Smooth Sliky Salty,03/03/2024,"$8,263.11",129
2644,Andria Kimpton,Australia,85% Dark Bars,23/08/2024,"$4,900.32",254

In [ ]:
data.groupby("Country").count()

             Sales Person  Product  Date  Amount  Boxes Shipped
Country
Australia             615      615   615     615            615
Canada                525      525   525     525            525
India                 552      552   552     552            552
New Zealand           519      519   519     519            519
UK                    534      534   534     534            534
USA                   537      537   537     537            537

In [2]:
# Variables in Python

first_name = 'Asabeneh'
last_name = 'Yetayeh'
country = 'Finland'
city = 'Helsinki'
age = 250
is_married = True
skills = ['HTML', 'CSS', 'JS', 'React', 'Python']
person_info = {
    'firstname': 'Asabeneh',
    'lastname': 'Yetayeh',
    'country': 'Finland',
    'city': 'Helsinki'
}

# Printing the values stored in the variables

print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)
# You can save variables as strings, integers, lists etc and use them later c:

First name: Asabeneh
First name length: 8
Last name:  Yetayeh
Last name length:  7
Country:  Finland
City:  Helsinki
Age:  250
Married:  True
Skills:  ['HTML', 'CSS', 'JS', 'React', 'Python']
Person information:  {'firstname': 'Asabeneh', 'lastname': 'Yetayeh', 'country': 'Finland', 'city': 'Helsinki'}

In [3]:
# Declaring multiple variables in one line
# Messy but works :b maybe can work to save lines of code
first_name, last_name, country, age, is_married = 'Asabeneh', 'Yetayeh', 'Helsink', 250, True

print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

Asabeneh Yetayeh Helsink 250 True
First name: Asabeneh
Last name:  Yetayeh
Country:  Helsink
Age:  250
Married:  True